.todo {

}
.isDone{
    opacity: 20%;
}

.active{
    background-color: #6aee2a;
}

.error{
    outline: none;
    border: 3px solid red;
}

.todoList{
    width: 230px;
}
.add{
    display: flex;
    flex-direction: row;
}